.heading-1 {
  font-size: 6rem;
}

.heading-2 {
  font-size: 4.8rem;
}

.heading-3 {
  font-size: 3.6rem;
}

.heading-4 {
  font-size: 2.4rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh min-content 85vh 15vh;
      grid-template-rows: 100vh -webkit-min-content 85vh 15vh;
      grid-template-rows: 100vh min-content 85vh 15vh;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: #457B9D;
  color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  -webkit-transition: 220ms all ease-in-out;
  transition: 220ms all ease-in-out;
}

.btn:hover, .btn:active {
  background-color: #37627e;
}

.btn:focus {
  outline-style: solid;
  outline-color: transparent;
  -webkit-box-shadow: 0 0 0 4px #294a5e;
          box-shadow: 0 0 0 4px #294a5e;
}

.btn a {
  text-decoration: none;
  color: #f0f0f0;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  background-color: #1D3557;
}

.navbar__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
  width: 100%;
  background-color: #1D3557;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar__list__link {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.8rem;
  padding: 4rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar__list__link:hover {
  background-color: #457B9D;
  color: #fff;
}

#welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f0f0f0;
}

#projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-row-gap: 2rem;
  background-color: #E63946;
  padding: 9rem 0;
}

#projects h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  color: #f0f0f0;
}

.project-tile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40rem, 50rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 50rem));
  grid-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-tile .project-img {
  width: 100%;
}

.card__description {
  text-align: center;
}

.card__heading {
  padding: 1.5rem 0;
}

#contact-section {
  background-color: #1D3557;
  color: #f0f0f0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30vh (min-content)[2];
      grid-template-rows: 30vh repeat(2, -webkit-min-content);
      grid-template-rows: 30vh repeat(2, min-content);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-row-gap: 2rem;
}

#contact-section h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row: 3 / -1;
}

.social-media i {
  margin-right: 1rem;
}

.social-media__link:link, .social-media__link:visited {
  color: #f0f0f0;
  font-size: 2.4rem;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-media__link:link:hover, .social-media__link:visited:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #E63946;
}

@media only screen and (max-width: 90rem) {
  .social-media__text {
    display: none;
  }
}

#footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #1D3557;
  color: #f0f0f0;
  border-top: 3px solid #E63946;
}
/*# sourceMappingURL=main.css.map */