// colors 
$color-primary: #2e3440;
$color-secondary: #405A7D;
$color-white: #eceff4;

// Responsive Breakpoints 
$bp-sm: 36em; // 576px / 16px;
$bp-lg: 68.75em; //1100x / 16px; 


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: $color-primary;
}

.container {
  display: grid;
  grid-template-rows: 100vh min-content 85vh 15vh;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.btn {
  display: inline-flex;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background-color: $color-secondary;
  color: $color-white;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  padding: .5rem 0.75rem;
  min-width: 10ch;
  min-height: 4.4rem;
  transition: 220ms all ease-in-out;
  
  &:hover,
  &:active {
    background-color: scale-color($color-secondary, $lightness: -20%);
  }
  
  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px scale-color($color-secondary, $lightness: -40%);
  }
}

a {
  text-decoration: none;
  color: $color-white;
  font-weight: bold;
}