.contact {
  background-color: $color-primary;
  color: $color-white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-row-gap: 4rem;

  .heading-2 {
    align-self: flex-end;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  width: 35vw;
  justify-content: space-between;
  align-self: flex-start;
  i {
    margin-right: 1.3rem;
  }

  &__link:link {
    transition: all 0.2s;
  }

  &__link:link,
  &__link:visited {
    color: $color-white;
    font-size: 2.4rem;
    text-decoration: none;

    &:hover {
      transform: translateY(-3px);
      color: $color-accent;
    }
  }
}
