@media only screen and (max-width: $bp-sm) {
  html {
    font-size: 45%;
  }

  .navbar__list {
    justify-content: space-between;
  }
  
  #contact h2 {
    font-size: 4.2rem;
  }

  #footer p {
    max-width: 25rem;
    // margin: 0 auto;
  }
}