#projects {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 2rem;
  background-color: $color-tertiary;
  padding: 9rem 0;

  h2 {
    align-self: center;
    text-align: center;
    color: $color-white;
  }
}

.project-tile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 50rem));
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;

  .project-img {
    width: 100%;
  }
}

.card__description {
  text-align: center;
}

.card__heading {
  padding: 1.5rem 0;
}