h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.0801rem;
}
h3 {
  font-size: 1.4422rem;
}
small {
  font-size: 0.6934rem;
}
html {
  font-size: clamp(1rem, 0.625vw + 0.8313rem, 1.1875rem);
}

a {
  font-size: clamp(1rem, 0.625vw + 0.8313rem, 1.1875rem);
}
